:root {
  --cup-width: 300px;
  --cup-height: 320px;
  --cup-bottom: 20%;
  --text-color:  #f7f6f0;
  --background-color: #362c36;
  --productive-water-color: #a7cbd5;
  --relax-water-color: #4d4c59;
  --cup-border-color: #f7f6f0;
  --sub-text-color: #71777d;

}


h1{
  font: 100 4em/1 'Sacramento', cursive;
  color: var(--text-color);
  text-align: center;
}

h2{
  font: 100 1.2em/1 'Alice', serif;
  font-weight: lighter;
  color: var(--sub-text-color);
  text-align: center;
}
h3{
  font: 100 1.2em/1 'Alice', serif;
  font-weight: lighter;
  color: var(--text-color);
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

#info{
  margin-top: 50px;
}

.cup_set {
  position: absolute;
  bottom: var(--cup-bottom);
  width: var(--cup-width);
  height: var(--cup-height);
  bottom: 15%;
 
}

.productive_cup {
  position: absolute;
  width: 45%;
  height: var(--cup-height);
  border: 5px solid var(--cup-border-color);
  border-top: 5px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

.relax_cup {
  position: absolute;
  width: 45%;
  height: var(--cup-height);
  border: 5px solid var(--cup-border-color);
  border-top: 5px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 55%;
}


.productive_water {
  position: absolute;
  bottom: 1%;
  height: 10px;
  left: 2%;
  width: 96%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: var(--productive-water-color);
  transition: height 1s ease-in-out;
  
}

.relax_water {
  position: absolute;
  bottom: 1%;
  height: 10px;
  left: 2%;
  width: 96%;
  border-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--relax-water-color);
  transition: height 1s ease-in-out;


}

.name {
  position: absolute;
  bottom: 145%;
  text-align: center;
  width: var(--cup-width);
  height: 40px;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: height 1s ease-in-out;
  font: 600 1.8em  'Alice', serif;
  color: var(--text-color);
  text-transform: capitalize;
  opacity: 0.8;

}
input{
  position: absolute;
  left: 0%;
  bottom: 115%;
  text-align: center;
  width: 45%;
  height: 40px;
  border-radius: 8px;  
  border: 2px solid var(--cup-border-color);
  font: 300 1em  'Alice', serif;
  background: transparent;
  color: var(--text-color);
}
input:focus{
  outline: none;
}

.relax_input{
  left: 55%;
}
::placeholder{
  color: var(--text-color);
  opacity: 0.5;

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

 